# 01주 데이터분석입문

In [2]:
import numpy as np
np.__version__

'1.26.4'

# 파이썬 기초
## 기본 자료형

In [5]:
type(1), type(3.5)

(int, float)

In [6]:
type([]), type((1, ))

(list, tuple)

In [7]:
type({1:1, 2:4}), type({1, 2, 3})

(dict, set)

## 연산자

In [9]:
3 ** 4, 10 % 3

(81, 1)

## 내장함수

In [12]:
divmod(10, 5)

(2, 0)

In [14]:
int('30') + float('3.56')

33.56

In [17]:
chr(90), ord('a'), ord('가')

('Z', 97, 44032)

In [18]:
eval('3 + 4 * 5')

23

In [19]:
s = "py"
id(s)

140703652069984

## 표준입력

In [21]:
age = input('나이는 ?')
int(age) + 1

21

In [22]:
age = int(input('나이는 ?'))
age + 1

21

### end of code