<a href="https://colab.research.google.com/github/yesung05/2024-intro-DA-code/blob/main/w02_2_control_flow_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECTION 02 제어 흐름과 함수

## 조건 if

In [ ]:
n = 20
if n%2 == 0:
  print('짝수')

짝수

In [ ]:
n = 21
if n%2 == 0:
  print('짝수')

## 조건 if else

In [6]:
age = 18
if age >=20:
  print('성인')
else:
  print('미성년자')

미성년자

In [7]:
age = 21
if age >=20:
  print('성인')
else:
  print('미성년자')

성인

## 한 줄 조건 구문 if else

In [9]:
age = 18
s = '성인' if age >= 20 else '미성년자' #C언어에서 삼항 연산자 비슷한거?
print(s)

미성년자

In [10]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

## 반복된 조건 if elif

In [11]:
point = 92
if (90 <= point):
  print('A')
elif (80 <= point):
  print('B')
elif (70 <= point):
  print('C')
elif (60<=point):
  print('D')
else:
  print('F')

A

In [12]:
point = 62
if (90 <= point):
  print('A')
elif (80 <= point):
  print('B')
elif (70 <= point):
  print('C')
elif (60<=point):
  print('D')
else:
  print('F')

D

## match 구문

In [13]:
value = "apple"
match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
print(result)

사과

In [14]:
value = "banana"
match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
print(result)

바나나

In [15]:
value = "mango"
match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
  case _:   #default
    result = None
print(result)

None

## 반복 for 문

In [16]:
for x in range(1,6): #1,2,3,4,5를 x에 넣으며 반복
  print(x)

1
2
3
4
5

In [17]:
num = [10,20,30,40]
for i in num: #리스트 등 연속된 내용이 들어갔을 경우 내용 하나씩 i에 넣으며 반복
  print(i)

10
20
30
40

In [18]:
fruits = list(["apple", 2500, "banana", 500, "mango",2000]) # fruits = ["apple", 2500, "banana", 500, "mango",2000]
for x in fruits:
  print(x)

apple
2500
banana
500
mango
2000

## 반복 while 문

In [19]:
i = 1
sum = 0
while i <= 10:
  sum+=i
  i+=1
print(sum)

55

##함수 선언과 호출

In [25]:
def hello():
  print('hello, Python!')

In [26]:
hello()

hello, Python!

In [34]:
hello #colab에서 해서 메모리 주소 표기 안되는듯?
print(hello)

<function hello at 0x7e9d123faa70>

In [28]:
type(hello)

function

In [31]:
def hi(one):
  print('안녕,' ,one)

In [33]:
hi('영희')
print(hi)

안녕, 영희
<function hi at 0x7e9d123f9fc0>

In [36]:
str(hi) # hi의 메모리 주소를 문자열 형식으로 표현?

'<function hi at 0x7e9d123f9fc0>'

## 함수 매개변수 기본 값

In [37]:
def hi(one='친구들'): #매개변수가 아무것도 지정되지 않으면 기본으로 친구들 저장
  print('안녕,' ,one)

In [38]:
hi()

안녕, 친구들

In [39]:
hi('철수')

안녕, 철수

In [40]:
import math as m # math 라이브러리를 가져와서 m이라고 부르겠다
def circle_area(r=1):
  print(m.pi*r**2)

In [41]:
circle_area()

3.141592653589793

In [42]:
circle_area(4.5)

63.61725123519331

In [43]:
circle_area(r = 5.6)

98.5203456165759

In [44]:
print(circle_area(r = 7.2)) #함수 몸체에서 print를 하고 return을 하지 않기에 None

162.8601631620949
None

## Return 구문과 함수 매개변수 지정

In [46]:
import math as m
def circle_area(r=1):
  return m.pi*r**2

print(circle_area(r=7.2))

162.8601631620949

In [47]:
def sum_sub(x, y):
  hap = x + y
  cha = x - y
  return hap, cha #튜플로 반환

In [48]:
sum_sub(10,3)

(13, 7)

In [49]:
sum_sub(x = 10, y =3)

(13, 7)

In [50]:
sum_sub(y = 3, x = 10)

(13, 7)

## lambda 익명 함수

In [51]:
import math as m

In [52]:
(lambda a,b: m.sqrt(a**2+b**2))(3,4)

5.0